h1 {
	text-align: center;
}

p.centre {
     text-align: center;
 }

 ul {
 	list-style: disc;
 }

 img.fly {
 	float: left;
 	margin-right: 20px;

 }

.clear {
    clear: both;
}

 img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }	